@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
    .Cards{
        width: 28vw;
        height: auto;
        transition: transform 0.5s;
    }

    .Cards-btn{
        width: 24vw;
        height: auto;
        background: none;
        border:none;
    }

    .flip-animation {
        transform: rotateY(180deg);
    }

}