@media only screen and (max-width: 600px) {
    body {
        background-image: url('../img/background.png');
        background-size: cover; /* This ensures the image covers the entire screen */
        background-position: center center; /* Centers the image */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        height: 100vh; /* Ensures the body takes full viewport height */
        margin: 0; /* Removes default margin */
        overflow: hidden;
    }    
    .Cards{
        width: 28vw;
        height: auto;
        transition: transform 0.5s;
    }

    .Cards-btn{
        width: 28vw;
        height: 16vh;
        background: none;
        border:none;
    }

    .flip-animation {
        transform: rotateY(90deg);
    }

    .image{
        margin-top: -50px
    }
    .points{
        position: absolute;
        top: 5px;
        left: 10px;
        font-size: large;
        font-weight: 400;
    }
    .swal2-popup{
        z-index: 9999 !important;
    }
}